@model int?
@{
    ViewBag.Title = "Create";
}

<h2>Create Genre</h2>

<form method="Post"action="~/Genre/Create" class="col-md-12">
    <div class="form-group">
        <label for="name">Name</label>
        <input typeof="text" class="form-control" name="Name">
    </div>

    <button type="submit" class="btn btn-default">Save</button>
</form>