@model IEnumerable<Proxy.DomainModels.Order>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <li>
    @item.Orderlines.Count()
    </li>
}
