
@{
    ViewBag.Title = "UserProfile";
}
@if (Session["UserName"] != null)
{
    <h2>@Session["UserName"]</h2>
    <ul>
        <li>@Html.ActionLink("Change password", "ChangePass", "Home")</li>
        <li>@Html.ActionLink("Change Delivery information", "ChangeInfo", "Home")</li>
        <li>@Html.ActionLink("View orders", "ViewOrders", "Home")</li>

    </ul>
    
}
else
{
    <h2>You need to be logged in to use this page.</h2>
}

