
@{
    ViewBag.Title = "Error";
}

<h2>Sorry something went wrong, please try it later. </h2>
@Html.ActionLink("Puchase", "Purchase", "Checkout", new { }, new { @class = "btn btn-default", @style = "float : right; margin-left: 10px" })
@Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-default", @style = "float : right" })

