
@{
    ViewBag.Title = "Success";
}

<h2>Your order is in progress. Thank you for choosing us.</h2>
    
      @Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-default", @style = "float : right" })

