
﻿@using Proxy.DomainModels;
@model List<Genre>
   

@{
    ViewBag.Title = "Create";
}

<h2>Create Movie</h2>

<form method="Post" action="~/Movie/Create" class="col-md-12">
    <div class=" form-group">
        <label for="title"> Title</label>
        <input type="text"class=" form-control" name="Title"/>
        </div>
        <div class=" form-group">
        <label for="price"> Price</label>
        <input type="number" class="form-control" name="Price"/>
            </div>
        <div class="form-group">
        <label for=" Year">Year</label>
            <input type="date" class="form-control" name="Year"/>
        </div>
         <select class="form-control" id="genreId" name="Genre.Id">
         @foreach (var item in Model)
         {
             <option value=" @item.Id">@item.Name</option>
         }
             </select>
         <div class="form-group">
        <label for=" ImgUrl">ImgUrl</label>
         <input type="image" class="form-control" name="ImgUrl" />
         <input type="url" class="form-control" name="ImgUrl" />
         </div>
         <div class="form-group">
        <label for="TrailerUrl">TralerUrl</label>
         <input type="url"class="form-control" name="TrailerUrl">
        </div>
       <button type="submit" class="btn-default">Save </button>
     </form>
        