@model Proxy.DomainModels.Genre
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Genre</h2>
<form method="Post" action="~/Genre/Edit" class="col col-md-12">
    <input type="hidden" class="form-control" name="Id" value="@Model.Id" hidden />
    <input type="text" class="form-control" name="Name" value="@Model.Name" />
    <button type="submit" class="btn btn-default">Save</button>
</form>

