@model MovieShopAdministrationAuth.Models.EditMovieModel

    @{
        ViewBag.Title = "Create";
    }

    <h2>Create Movie</h2>

    <form method="Post" action="~/Movie/Create" class="col-md-12">
        @*@@Html.ValidationSummary(true, "Something went wrong", new { @class = "text-danger" })*@
         @*@Html.TextBox(m => m.Title, htmlAttributes : new { @class = "form-control", @Name = "Title" })*@
      
        <div class=" form-group">
            <label for="Title">Title </label>
            @Html.TextBoxFor(m => m.Movie.Title, htmlAttributes: new { @class = "form-control", @Name = "Title" })
            @Html.ValidationMessageFor(m => m.Movie.Title)
            @*
            <input type="text"
                   class="form-contol"
                   name="title" />*@
        </div>
       
        <div class=" form-group">
            <label for="price"> Price</label>
            <input type="number" class="form-control" name="Price"
                 />
        </div>
        <div class="form-group">
            <label for=" Year">Year</label>
            <input type="date" class="form-control" name="Year" />
        </div>
        <div class="form-group">
            <label for="Genre">Genre</label>
        <select class="form-control" id="genreId" name="Genre.Id">
            @foreach (var item in Model.Genres)
            {
                <option value=" @item.Id">@item.Name</option>
            }
        </select>

            </div>
        <div class="form-group">
            <label for="ImgUrl">Cover</label>
            <input type="url" class="form-control" name="ImgUrl" />
        </div>

        <div class="form-group">
            <label for="TrailerUrl">TrailerUrl</label>
            <input type="url" class="form-control" name="TrailerUrl">
        </div>
        
        <button type="submit" class="btn-default">Save </button>
    </form>
