
@{
    ViewBag.Title = "LogInAndTryAgain";
}

<h1 style="color: red">Log In And Try Again</h1>

@Html.ActionLink("Back to shoppingcart", "ShoppingCart", "Home", null, new { @class = "btn btn-default"})